#header{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border-width: 1px;
	border-style: solid;
}

.book_info{
	text-align: center;
	width: 200px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	padding-top: 5%;
	font-size: 20px;
	word-break: break-all;
	overflow-wrap: break-word;
	white-space: pre-line;
	overflow-y: auto;
	float: top;
}

.notRead{
	background-color: red;
	height: 30px;
	color: white;
	font-weight: 30px;
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
}

.Read{
	background-color: green;
	height: 30px;
	color: white;
	font-weight: 30px;
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
}

.bookShell{
	width: 200px;
	height: 280px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	margin: 5%;
	
}